[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs.git
[submodule "modules/perl-web-utils"]
	path = modules/perl-web-utils
	url = git://github.com/wakaba/perl-web-utils.git
[submodule "modules/perl-web-useragent-functions"]
	path = modules/perl-web-useragent-functions
	url = git://github.com/wakaba/perl-web-useragent-functions.git
[submodule "modules/perl-httest"]
	path = modules/perl-httest
	url = git://github.com/wakaba/perl-httest.git
[submodule "modules/perl-test-moremore"]
	path = modules/perl-test-moremore
	url = git://github.com/wakaba/perl-test-moremore.git
